@font-face {
  font-family: 'Droid Serif Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif Regular'), url('./fonts/DroidSerif-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Neutraface';
  font-style: normal;
  font-weight: normal;
  src: local('Neutraface'), url('./fonts/Neutra-Text-Book.woff') format('woff');
}
